# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: amhernandez <alejhern@student.42.fr>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/01/14 19:57:38 by amhernandez       #+#    #+#              #
#    Updated: 2025/01/24 20:46:38 by amhernandez      ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.vscode
*.d
*.o
so_long
libft
MLX42
routes
sprites
